:root {
    --primary-color: #4458de;
    --primary-color2: #854fee;
    --little-color: #141313;
    --border-color: #777777;
    --gradient-color: linear-gradient(90deg, #4458dc, #854fee 100%);
    --shadow-color: 0px 10px 30px(rgba(118,85,225,0.3));
    --box-shadow: 0px 10px 30px (rgba(57,56,61,0.205));
    --roboto: "Roboto", cursive;
    
} 
html,body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
body {
    font-family: "Roboto", sans-serif;

}

/* Navigation */


header .main-menu .navbar {
    padding: 1rem 2rem;
}
header .main-menu .nav-item .nav-link {
    font: normal 500 15px/2 var(--roboto);
    text-transform: uppercase;
    padding: 1.4rem;
    color: var(--little-color);
}
header .main-menu .navbar-nav  .nav-item .active {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: var(--gradient-color);
}
header .main-menu .navbar-nav  .nav-item:hover  {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: var(--gradient-color);
}
@media (max-width: 767px) {
    header .main-menu .nav-item .nav-link {
        padding: 1rem;
    }
}